header {	
	text-align:center; 
	background-color:#114269;
	color:#DDDDDD;
	}

div {	
	text-align:center; 
	background-color:#013259;
	color:#DDDDDD;
	}

table {
	background-color:#013259;
	color:#DDDDDD;
	position:left;
  }

	
#getset {
	color: #DDD;
	float:right;
        padding-top: 20px;
        padding-left: 30px;
        padding-bottom: 20px;
}

#right {
	color: #DDD;
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
}
	
#action {
	color: #FFF;
	float:left;
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;

}

#stream {
	float:left;
        padding-top: 20px;
	padding-right:80;
        padding-bottom: 20px;

}
#getsettings {
}	

#setsettings {
}

#focus {
	float:left;
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
}

#capture {
	float:left;
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;

}

#zoom {
	float:left;
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
}

#clicker1 {
	float:left;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid gray;
    border-radius: 5px;   
    background: white;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#clicker2 {
	float:left;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid gray;
    border-radius: 5px;   
    background: white;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
#clicker3 {
	float:left;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid gray;
    border-radius: 5px;   
    background: white;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#clicker4 {
	float:left;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid gray;
    border-radius: 5px;   
    background: white;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#zclicker1 {
	float:left;
    width: 50px;
    height: 50px;
    margin:20px;
    border: 1px solid gray;
    border-radius: 5px;   
    background: white;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#zclicker2 {
	float:left;
    width: 50px;
    height: 50px;
    margin: 20px;
    border: 1px solid gray;
    border-radius: 5px;       
    background: white;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
#zclicker3 {
	float:left;
    width: 50px;
    height: 50px;
    margin: 20px;
    border: 1px solid gray;
    border-radius: 5px;    
    background: white;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#zclicker4 {
	float:left;
    width: 50px;
    height: 50px;
    margin: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    
    background: white;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
#cclicker {
	float:center;
    width: 50px;
    height: 50px;
    margin-left: 160px;
    border: 2px solid gray;
    border-radius: 5px;
    background: white;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
#time_settings {
    clear: both;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;

}
#results {
    clear: both;
    width: 100%;
    background-color: white;
    text-align: left;
}
