header {	
	text-align:center; 
	background-color:#114269;
	color:#DDDDDD;
	}

div {	
	text-align:center; 
	color:#DDDDDD;
	}

table {
	color:#DDDDDD;
	position:left;
        margin: 0 auto;
}
  
#table_id {
  display: block;
}

#table_id td {
  display: inline-block;
}

	
#getset {
        background-color:#012754;
	color: #DDD;
	float:left;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
}

#controls {
	float:left;
	color: #DDD;
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
}
	
#getsettings {
}	

#setsettings {
}

#shoot{
    	float:left;
	color: #DDD;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
}

#action{
    	float:left;
	color: #DDD;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
}

#focus {
	float:right;
	color: #DDD;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
}


#zoom {
	float:right;
	color: #DDD;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
}

#clicker1 {
    float:left;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid gray;
    border-radius: 5px;   
    background: white;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#clicker2 {
    float:left;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid gray;
    border-radius: 5px;   
    background: white;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
#clicker3 {
    float:left;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid gray;
    border-radius: 5px;   
    background: white;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#clicker4 {
    float:left;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid gray;
    border-radius: 5px;   
    background: white;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#zclicker1 {
    float:left;
    width: 50px;
    height: 50px;
    margin:20px;
    border: 1px solid gray;
    border-radius: 5px;   
    background: white;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#zclicker2 {
    float:left;
    width: 50px;
    height: 50px;
    margin: 20px;
    border: 1px solid gray;
    border-radius: 5px;       
    background: white;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
#zclicker3 {
    float:left;
    width: 50px;
    height: 50px;
    margin: 20px;
    border: 1px solid gray;
    border-radius: 5px;    
    background: white;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#zclicker4 {
    float:left;
    width: 50px;
    height: 50px;
    margin: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    
    background: white;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
#cclicker {
    float:center;
    width: 50px;
    height: 50px;
    margin-left: 160px;
    border: 2px solid gray;
    border-radius: 5px;
    background: white;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
#time_settings {
    float:right;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

}
#results {
    clear: both;
    width: 100%;
    background-color: white;
    text-align: left;
}
